@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    margin: 0;
    background-color: #121212;
    font-family: 'Orbitron', sans-serif;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeOut 3s linear 4s forwards; 
}

#loading-text {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Orbitron", sans-serif;
    animation: zoomOut 3s forwards 4s;
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(800);
        opacity: 0;
    }
}

 @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none; 
        visibility: hidden; 
    }
}


:root {
    --pc: rgb(195, 166, 211);
    --tc: rgb(82, 0, 126);
}

nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.403);
    position: sticky;
    z-index: 10;
    top: 0px;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 10px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: calc(2.1vh);
    position: relative;
    font-family: 'Orbitron', sans-serif;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
.logo{
    cursor: pointer;
}

.logo img {
    width: 4vw;
}
.logoname{
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size:calc(1.5vw);
    letter-spacing: 2px;
    margin-left: 16vw;
    font-weight: bold;
}


.boxes {
    background-color: rgba(47, 32, 48, 0.285);
    margin: 20px;
    padding: 20px;
    width: auto;
    min-width: 250px;
    height: auto;
    /* border: 2px solid var(--tc); */
    border-radius: 15px;
}

.box1 {
    background: linear-gradient(45deg, black, #a82222,black);
    color: aliceblue;
    margin: 20px;
    padding: 20px;
    width: 85%;
    min-width: 220px;
    height: auto;
    border: 3px solid var(--pc);
    font-size: calc(1vw + 2vh);
    font-family: 'Orbitron', sans-serif;
    border-radius: 15px;
}

.box2 {
    background: linear-gradient(45deg,black, #43e1d6, black);
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    width: 85%;
    min-width: 220px;
    height: auto;
    border: 3px solid var(--tc);
    font-size: calc(1vw + 2vh);
    font-family: 'Orbitron', sans-serif;
    border-radius: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.vs {
    font-size: calc(2vw + 2vh);
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    color: var(--pc);
    margin: 0 30px;
}

p {
    padding: 20px;
    font-weight:500;
    font-size: calc(0.6vw + 1vh);
    font-family: 'Orbitron', sans-serif;
}

.about {
    color: var(--pc);
    font-weight: bolder;
    font-size: calc(2vw + 2vh);
    font-family: 'Orbitron', sans-serif;
}

.fixed {
    background-color: black;
    width: 60px;
    position: fixed;
    height: 60px;
    border-radius: 50%;
    bottom: 20px;
    border: 2px solid var(--pc);
    right: 20px;
    padding: 10px;
    z-index: 1000;
}

.fixed img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.c2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    border: 2px solid var(--pc);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: calc(1vw + 2vh);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 10px;
    justify-items: center;
    align-items: center;
}
.grid {
    background-color: rgba(47, 32, 48, 0.285);
    margin: 20px;
    padding: 18px;
    width: auto;
    height: auto;
    /* border: 2px solid var(--tc); */
    border-radius: 15px;
}

.i1 {background-color: rgba(0, 0, 0, 0.666);
    border: 2px solid rgba(0, 255, 255, 0.527);
    color: rgba(0, 255, 255, 0.488);

}

.i2 { background-color: rgba(0, 0, 0, 0.666);
    border: 2px solid rgba(223, 35, 35, 0.486);
    color: rgba(223, 35, 35, 0.655);
}

.i3 { background-color: rgba(0, 0, 0, 0.666);
    border: 2px solid rgba(62, 137, 109, 0.447);
    color: rgba(82, 191, 151, 0.653);
}

.i4 { background-color: rgba(0, 0, 0, 0.666);
    border: 2px solid rgba(255, 157, 0, 0.451);
    color: rgba(255, 157, 0, 0.573);
}

.i5 { background-color: rgba(0, 0, 0, 0.666);
    border: 2px solid rgba(223, 35, 35, 0.49);
    color: rgba(223, 35, 35, 0.675);
}

.i6 { background-color: rgba(0, 0, 0, 0.666);
    border: 2px solid rgba(255, 242, 0, 0.434);
    color: rgba(255, 242, 0, 0.586);
}



.di {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.di img {
    width: 80%;
    height: 29vh;
    border-radius: 9px;
}

.blah {
    display: flexbox;
    text-align: center;
}

.blah p {
    padding: 0px;
}

.button {
    text-align: center;
    margin: 10px;
}

.button a {
    background: linear-gradient(45deg, #1a1a1a, #2c2c2c);
    color: aliceblue;
    border-radius: 25px;
    border: rgba(130, 130, 130, 0.3);
    /* box-shadow: 0 4px 15px rgba(130, 130, 130, 0.3); */
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: inline-block;
}

.button a:hover {
    background: linear-gradient(45deg, #2c2c2c, #1a1a1a);
    box-shadow: 0 6px 20px rgba(195, 166, 211, 0.4);
    transform: translateY(-2px);
}

.button a:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(82, 0, 126, 0.2);
}

@media screen and (max-width: 768px) {
    .button a {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.ani {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bg {
    width: 80vw;
    height: 60vh;
    background-color: aliceblue;
    border-radius: 9px;
    position: relative;
}

.ball {
    width: 5vw;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    bottom: 1px;
    left: 1px;
    position: absolute;
}

@keyframes ballx {
    from {
        left: 0;
    }

    to {
        left: 90%;
    }
}

@keyframes bally {
    from {
        bottom: 0;
    }

    to {
        bottom: 60%;
    }
}

@keyframes bgcolor {
    0%, 100% { background-color: aliceblue; }
    29% { background-color: orange; }
    55% { background-color: cyan; }
    82% { background-color: red; }
}

@keyframes txtcolor1 {
    0%, 100% { color: rgba(47, 32, 48, 0); }
    25%, 75% { color: rgb(168, 168, 168); }
}

@keyframes txtcolor2 {
    0%, 100% { color: rgba(47, 32, 48, 0); }
    25%, 75% { color: orange; }
}

@keyframes txtcolor3 {
    0%, 100% { color: rgba(47, 32, 48, 0); }
    25%, 75% { color: cyan; }
}

@keyframes txtcolor4 {
    0%, 100% { color: rgba(47, 32, 48, 0); }
    25%, 75% { color: red; }
}

.text {
    display: inline-flex;
}

.text h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: calc(1vw + 2vh);
    padding: 12px 0px;
    color: rgba(47, 32, 48, 0); /* Set initial color to transparent */
}

.names{
    width: 80vw;
    display: flex;
    margin: auto;
    gap: 12vw;
}

.abt_cnt{
    gap:20px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 200;
    font-family: 'Orbitron', sans-serif;
}

.wrapper {
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
}

.card {
    flex: 1;
    height: 100%;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: flex 0.5s ease;
    margin-right: -5%;
    z-index: 1;
    overflow: hidden;
}

.card1, .card2, .card3 {
    background-repeat: no-repeat;
}

.card1 {
    border-radius: 30px 0 0 30px;
    background-image: url('https://github.com/ki-SH-an/f1compmobile/blob/main/gettyimages-81234519-612x612.jpg');
}

.card2 {
    background-image: url('https://github.com/ki-SH-an/f1compmobile/blob/main/gettyimages-1287644943-612x612.jpg');
}

.card3 {
    border-radius: 0 30px 30px 0;
    background-image: url('download (2).jpeg');
    margin-right: 0;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: left 0.5s ease 0.5s; /* Delay the slide-in */
    z-index: 1;
}

.card1::before { background-color: rgba(255, 149, 0, 0.7); }
.card2::before { background-color: rgba(25, 239, 207, 0.7); }
.card3::before { background-color: rgba(255, 0, 0, 0.7); }

.card:hover::before {
    left: 0;
}

.card::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s; /* Delay the text appearance */
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card:hover::after {
    opacity: 3;
}

.card:hover {
    flex: 1.5;
    z-index: 2;
}

.card-content {
    display: none;
}

.glitch-element::before, 
.glitch-element::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: absolute;
    background-position: center;
    mix-blend-mode: none;
    opacity: 0;
    z-index: 2;
}

.card:hover .glitch-element::before {
    left: 5px;
    top: 5px;
    opacity: 0.7;
    filter: hue-rotate(90deg);
    mix-blend-mode: hard-light;
    animation: glitch-1 0.4s steps(2) forwards;
}

.card:hover .glitch-element::after {
    left: -5px;
    top: -5px;
    opacity: 0.7;
    filter: hue-rotate(-90deg);
    mix-blend-mode: screen;
    animation: glitch-2 0.3s steps(2) forwards reverse;
}

@keyframes glitch-1 {
    0%, 100% { clip-path: inset(0 0 0 0); }
    20% { clip-path: inset(20% -5% 70% 0); }
    40% { clip-path: inset(50% -5% 40% 0); }
    60% { clip-path: inset(10% -5% 60% 0); }
    80% { clip-path: inset(40% -5% 40% 0); }
}

@keyframes glitch-2 {
    0%, 100% { clip-path: inset(0 0 0 0); }
    20% { clip-path: inset(20% 0 60% -5%); }
    40% { clip-path: inset(50% 0 40% -5%); }
    60% { clip-path: inset(10% 0 60% -5%); }
    80% { clip-path: inset(40% 0 40% -5%); }
}

.card:hover .glitch-element::before,
.card:hover .glitch-element::after {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    scroll-padding-bottom: 100px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    
}
@media screen and (orientation: portrait) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    nav ul li {
        margin: 10px 10px;
    }

    .logo img {
        width: 10vw;
    }

    .c2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .item {
        font-size: calc(1vw + 2vh);
        padding: 10px 15px;
        margin: 8px;
    }

    .grid {
        padding: 8px;
    }

    .di {
        height: 15vh;
        width: 100%;
    }

    .di img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 9px;
    }

    .fixed {
        width: 45px;
        height: 45px;
    }

    .button a {
        padding: 3px;
        font-size: small;
    }

    .ball {
        height: 2.5vh;
    }

    .bg {
        height: 20vh;
    }

    .text h1 {
        font-size: calc(1vw + 1vh);
    }
    .names{
        gap: 5vw;
    }
    .logoname{
        visibility: hidden;
    }
}
